body{
  margin: 0;
  width: 100%;
  
}

/* UPPER CONTAINER */

.upper-container{
  margin-bottom: 0px;
  background-color: #040608;
  color: white;
  font-family: "Saira Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.upper-container-profile{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 550px;
  width: 100%;
}
.profile-img-cont{
  position: relative;
}
.profile-img-cont img{
  display: block;
}
.profile-img{
  border-radius: 50%;
  width: 130px;
  cursor: pointer;
}
.profile-img2{
  position: absolute;
  opacity: 0;
  top: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 50%;
  width: 130px;
  cursor: pointer;
}
.profile-img-cont:hover .profile-img2{
  opacity: 1;
}
.profile-img-cont:hover .profile-img{
  opacity: 0;
}

.upper-container .profile-main-text {
  font-size: 30px;
  margin-bottom: 0px;
  
}
.upper-container .profile-sub-text {
  font-size: 13px;
  text-align: center; 
  
}

.upper-container-buttons{
  position: absolute;
  left: 46.5%;
  top: 49%;
  border: solid 1.5px #07d915;
  padding: 6px 12px 6px 15px;
  border-radius: 3px;
}

.upper-container-buttons:hover{
  background-color: #02ad0d;
  cursor: pointer;
  border: none;
  transition: 0.2s;
}
.download-res{
  color: white;
  text-decoration: none;
  font-size: 14px;
  
}

.download-img-icon{
  width: 20px;
  height: 20px;
  vertical-align: text-bottom;
}

/* MIDDLE CONTAINER*/

.middle-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e1e1e;
  width: 100%;
  height: 310px;
  font-family: "Saira Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.m-services{
  font-size: 30px;
  color: white;
}

.m-services-list{
  display: flex;
  gap: 170px;
  font-size: 25px;
  color: white;
}

.m-services-list-lowcodelogo{
  width: 200px;
  height: 150px;
}
/* 
.lowcode-text{
  position: absolute;
  margin-top: 0px;
  bottom: 20px;
}
  */
.m-services-list-databaselogo{
  width: 200px;
  height: 150px;
}
.m-services-list-automationlogo{
  width: 200px;
  height: 150px;
}
.m-services-list-integrationlogo{
  width: 200px;
  height: 150px;
}

/* BOTTOM CONATINER*/

.bottom-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #040608;
  width: 100%;
  height: 2000px;
  font-family: "Saira Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.b-portfolio{
  color: white;
  font-size: 30px;
}
.b-portfolio-1{
  display: flex;
  position: relative;
  flex-direction: column;
  width: 85%;
}
.realestate-title{
  position: relative;
  /*left: 140px;*/
  color: white;
  font-size: 25px;
}
.realestate-description{
  color: white;
  font-size: 12px;
}

/*REAL ESTATE USER VIEW CONT*/  

.users-view-cont{
  display: flex;
  width: 85%;
  gap: 40%;
}

.pub-view-cont{
  display: flex;
  align-items: center;
  gap: 20px;
}
.pub-view{
  color: white;
  font-size: 27px;
}
.pub-view-preview-btn{
  color: white;
  border: solid 1.5px #07d915;
  border-radius: 3px;
  padding: 2px 7px 2px 7px;
  text-decoration: none;
}
.pub-view-preview-btn:hover{
  color: white;
  border-radius: 3px;
  padding: 2px 7px 2px 7px;
  background-color: #02ad0d;
  cursor: pointer;
}

.agent-view-cont{
  display: flex;
  align-items: center;
  gap: 20px;
}
.agent-view{
  color: white;
  font-size: 27px;
}
.agent-view-preview-btn{
  color: white;
  border: solid 1.5px #07d915;
  border-radius: 3px;
  padding: 2px 7px 2px 7px;
  text-decoration: none;
}
.agent-view-preview-btn:hover{
  color: white;
  border-radius: 3px;
  padding: 2px 7px 2px 7px;
  background-color: #02ad0d;
  cursor: pointer;
}





.re-public-agent-image-cont{
  display: flex;
  width: 85%;
  flex-direction: column;
  gap: 5px;
}

.top-image-cont{
  display: flex;
  height: 250px;
  gap: 5px;
}

.top-re-publicimg{
  width: 25%;
  border-top-left-radius: 10px;
  
}
.top-re-public2img{
  width: 25%;
  border-top-right-radius: 10px;
}


.bot-image-cont{
  display: flex;
  height: 250px;
  gap: 5px;
}

.bot-re-publicimg{
  width: 25%;
  border-bottom-left-radius: 10px;
  
}
.bot-re-public2img{
  width: 25%;
  border-bottom-right-radius: 10px;
}



























/*REAL ESTATE AGENT VIEW  

.agent-view-cont{
  display: flex;
  align-items: center;
  width: 85%;
  gap: 20px;
}
.agent-view{
  position: relative;
  color: white;
  font-size: 27px;
  text-decoration: none;
}

.agent-view-cred-cont{
  width: 85%;
  margin-top: 0px;
}

.agent-view-cred{
  color: white;
  font-size: 13px;
  margin-top: 0px;
}
.agent-view-preview-btn{
  color: white;
  border: solid 1.5px #07d915;
  border-radius: 3px;
  padding: 2px 7px 2px 7px;
  text-decoration: none;
}
.agent-view-preview-btn:hover{
  color: white;
  border-radius: 3px;
  padding: 2px 7px 2px 7px;
  background-color: #02ad0d;
  cursor: pointer;
}
.re-agent-image{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.re-agentimg{
  width: 40%;
  height: 100%;
  border-radius: 20px;
}
.re-agent2img{
  width: 40%;
  height: 100%;
  border-radius: 20px;
}
*/

/*REAL ESTATE BROKER VIEW 

.broker-view-cont{
  display: flex;
  align-items: center;
  width: 85%;
  gap: 20px;
}

.broker-view{
  position: relative;
  color: white;
  font-size: 27px;
  text-decoration: none;
}

.broker-view-cred-cont{
  width: 85%;
  margin-top: 0px;
}

.broker-view-cred{
  color: white;
  font-size: 13px;
  margin-top: 0px;
}
.broker-view-preview-btn{
  color: white;
  border: solid 1.5px #07d915;
  border-radius: 3px;
  padding: 2px 7px 2px 7px;
  text-decoration: none;
}
.broker-view-preview-btn:hover{
  color: white;
  border-radius: 3px;
  padding: 2px 7px 2px 7px;
  background-color: #02ad0d;
  cursor: pointer;
}
.re-broker-image{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.re-brokerimg{
  width: 40%;
  height: 100%;
  border-radius: 20px;
}
.re-broker2img{
  width: 40%;
  height: 100%;
  border-radius: 20px;
}
*/