body{
  margin: 0;
  width: 100%;
  
}

/* UPPER CONTAINER */

.upper-container{
  margin-bottom: 0px;
  background-color: #040608;
  color: white;
  font-family: "Saira Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.upper-container-profile{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 550px;
  width: 100%;
}
.profile-img-cont{
  position: relative;
}
.profile-img-cont img{
  display: block;
}
.profile-img{
  border-radius: 50%;
  width: 130px;
  cursor: pointer;
}
.profile-img2{
  position: absolute;
  opacity: 0;
  top: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 50%;
  width: 130px;
  cursor: pointer;
}
.profile-img-cont:hover .profile-img2{
  opacity: 1;
}
.profile-img-cont:hover .profile-img{
  opacity: 0;
}

.upper-container .profile-main-text {
  font-size: 30px;
  margin-bottom: 0px;
  
}
.upper-container .profile-sub-text {
  font-size: 13px;
  text-align: center; 
  
}

.upper-container-buttons{
  position: absolute;
  left: 46.5%;
  top: 49%;
  border: solid 1.5px #07d915;
  padding: 6px 12px 6px 15px;
  border-radius: 3px;
}

.upper-container-buttons:hover{
  background-color: #02ad0d;
  cursor: pointer;
  border: none;
  transition: 0.2s;
}
.download-res{
  color: white;
  text-decoration: none;
  font-size: 14px;
  
}

.download-img-icon{
  width: 20px;
  height: 20px;
  vertical-align: text-bottom;
}

/* MIDDLE CONTAINER*/

.middle-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e1e1e;
  width: 100%;
  height: 250px;
  font-family: "Saira Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.m-services{
  font-size: 20px;
  color: white;
}

.m-services-list{
  display: flex;
  gap: 170px;
  font-size: 25px;
  color: #E0E0E0;
}

.m-services-list-1 p{
  font-size: 12px;
}

.m-services-list-jslogo{
  width: 110px;
  height: 110px;
}

.m-services-list-2{
  font-size: 12px;
  text-align: center;
}

.m-services-list-htmllogo{
  width: 120px;
  height: 120px;
}

.m-services-list-3{
  font-size: 12px;
  text-align: center;
}

.m-services-list-csslogo{
  width: 120px;
  height: 120px;
}

.m-services-list-4{
  font-size: 12px;
  text-align: center;
}

.m-services-list-gitlogo{
  width: 120px;
  height: 120px;
}

.m-services-list-5{
  font-size: 12px;
  text-align: center;
}

.m-services-list-vsclogo{
  width: 120px;
  height: 120px;
}

.m-services-list-6{
  font-size: 12px;
  text-align: center;
}

.m-services-list-caslogo{
  width: 120px;
  height: 120px;
}

/* BOTTOM CONATINER*/

.bottom-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #040608;
  width: 100%;
  height: 1300px;
  font-family: "Saira Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
}
.b-portfolio{
  color: white;
  font-size: 30px;
}
.b-portfolio-1{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  width: 85%;
}
.realestate-title{
  position: relative;
  /*left: 140px;*/
  color: white;
  font-size: 25px;
  text-align: center;
}
.realestate-description{
  color: white;
  font-size: 12px;
  text-align: center;
}

/*REAL ESTATE USER VIEW CONT*/  

.pub-view-cont{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 85%;
}
.pub-view{
  color: white;
  font-size: 27px;
}
.pub-view-preview-btn{
  color: white;
  border: solid 1.5px grey;
  border-radius: 3px;
  padding: 2px 7px 2px 7px;
  text-decoration: none;
}
.pub-view-preview-btn:hover{
  color: white;
  border-radius: 3px;
  padding: 2px 7px 2px 7px;
  background-color: #02ad0d;
  border-color: #02ad0d;
  cursor: pointer;
}

.agent-view-preview-btn{
  color: white;
  border: solid 1.5px grey;
  border-radius: 3px;
  padding: 2px 7px 2px 7px;
  text-decoration: none;
}
.agent-view-preview-btn:hover{
  color: white;
  border-radius: 3px;
  padding: 2px 7px 2px 7px;
  background-color: #02ad0d;
  border-color: #02ad0d;
  cursor: pointer;
}

.broker-view-preview-btn{
  color: white;
  border: solid 1.5px grey;
  border-radius: 3px;
  padding: 2px 7px 2px 7px;
  text-decoration: none;
}
.broker-view-preview-btn:hover{
  color: white;
  border-radius: 3px;
  padding: 2px 7px 2px 7px;
  background-color: #02ad0d;
  border-color: #02ad0d;
  cursor: pointer;
}

/* RE IMAGE */

.re-image-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin-top: 30px;
  gap: 1px;
}

.re-image-cont img {
  width: 330px;
  height: 200px;
  border-radius: 2px;
}

/* RE TEST CREDENTIALS */

.re-test-credentials p{
  color: white;
  font-size: 13px;
  text-align: center;
  font-style: italic;
}
.b-portfolio-2{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  width: 85%;
}
.cms-title{
  position: relative;
  /*left: 140px;*/
  color: white;
  font-size: 25px;
  text-align: center;
}
.cms-description{
  color: white;
  font-size: 12px;
  text-align: center;
}

.cms-view-cont{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 85%;
}
.pub-cms-preview-btn{
  color: white;
  border: solid 1.5px grey;
  border-radius: 3px;
  padding: 2px 7px 2px 7px;
  text-decoration: none;
}
.pub-cms-preview-btn:hover{
  color: white;
  border-radius: 3px;
  padding: 2px 7px 2px 7px;
  background-color: #02ad0d;
  border-color: #02ad0d;
  cursor: pointer;
}

.admin-cms-preview-btn{
  color: white;
  border: solid 1.5px grey;
  border-radius: 3px;
  padding: 2px 7px 2px 7px;
  text-decoration: none;
}
.admin-cms-preview-btn:hover{
  color: white;
  border-radius: 3px;
  padding: 2px 7px 2px 7px;
  background-color: #02ad0d;
  border-color: #02ad0d;
  cursor: pointer;
}

.cms-image-cont{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin-top: 30px;
  gap: 1px;
}

.cms-image-cont img {
  width: 330px;
  height: 200px;
  border-radius: 2px;
}
.cms-test-credentials p{
  color: white;
  font-size: 13px;
  text-align: center;
  font-style: italic;
}

/* Caspio Services */

.cas-container{
  background-image: url('Images/caspio_logo_icon_168448.png');
  background-color: #1e1e1e;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  margin-top: 33px;
}

.cas-bgcolor{
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background-color: rgba(2, 173, 13, 0.3);*/
  background-color: rgba(30, 30, 30, 0.5);
  width: 100%;
  height: 300px;
  font-family: "Saira Condensed", sans-serif;
  font-weight: 200;
  font-style: normal;
  /*background: linear-gradient(90deg,rgba(28, 89, 92, 0.4) 0%, rgba(27, 169, 194, 0.4) 64%, rgba(95, 192, 212, 0.4) 87%);*/
  
}

.c-services{
  font-size: 25px;
  color: white;
}

.c-services-list{
  display: flex;
  gap: 170px;
  font-size: 25px;
  color: white;
}

.c-services-list-lowcodelogo{
  width: 200px;
  height: 150px;
}
/* 
.lowcode-text{
  position: absolute;
  margin-top: 0px;
  bottom: 20px;
}
  */
.c-services-list-databaselogo{
  width: 200px;
  height: 150px;
}
.c-services-list-automationlogo{
  width: 200px;
  height: 150px;
}
.c-services-list-integrationlogo{
  width: 200px;
  height: 150px;
}



















/*REAL ESTATE AGENT VIEW  

.agent-view-cont{
  display: flex;
  align-items: center;
  width: 85%;
  gap: 20px;
}
.agent-view{
  position: relative;
  color: white;
  font-size: 27px;
  text-decoration: none;
}

.agent-view-cred-cont{
  width: 85%;
  margin-top: 0px;
}

.agent-view-cred{
  color: white;
  font-size: 13px;
  margin-top: 0px;
}
.agent-view-preview-btn{
  color: white;
  border: solid 1.5px #07d915;
  border-radius: 3px;
  padding: 2px 7px 2px 7px;
  text-decoration: none;
}
.agent-view-preview-btn:hover{
  color: white;
  border-radius: 3px;
  padding: 2px 7px 2px 7px;
  background-color: #02ad0d;
  cursor: pointer;
}
.re-agent-image{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.re-agentimg{
  width: 40%;
  height: 100%;
  border-radius: 20px;
}
.re-agent2img{
  width: 40%;
  height: 100%;
  border-radius: 20px;
}
*/

/*REAL ESTATE BROKER VIEW 

.broker-view-cont{
  display: flex;
  align-items: center;
  width: 85%;
  gap: 20px;
}

.broker-view{
  position: relative;
  color: white;
  font-size: 27px;
  text-decoration: none;
}

.broker-view-cred-cont{
  width: 85%;
  margin-top: 0px;
}

.broker-view-cred{
  color: white;
  font-size: 13px;
  margin-top: 0px;
}
.broker-view-preview-btn{
  color: white;
  border: solid 1.5px #07d915;
  border-radius: 3px;
  padding: 2px 7px 2px 7px;
  text-decoration: none;
}
.broker-view-preview-btn:hover{
  color: white;
  border-radius: 3px;
  padding: 2px 7px 2px 7px;
  background-color: #02ad0d;
  cursor: pointer;
}
.re-broker-image{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.re-brokerimg{
  width: 40%;
  height: 100%;
  border-radius: 20px;
}
.re-broker2img{
  width: 40%;
  height: 100%;
  border-radius: 20px;
}
*/